@font-face{
	font-family: "amaticbold";
	src: url(fontes/Amatic-Bold.ttf) format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: "actionman";
	src: url(fontes/ActionMan.ttf) format('truetype');
	font-weight: normal;
    font-style: normal;
}