
	footer {
		border-top: 5px ridge #194287;
		z-index: 2;
		position: relative;
	}

	.footer-copyright {
		background-color: #333333;
		padding-top: 3px;
		padding-bottom: 3px;

	}

	.footer-copyright .row{
		margin-right: auto;
	}

	.footer-copyright p {
		color: #ccc;
		text-align: center;

	}
	
	.retornar{
    	margin: 0 auto 0 auto; 
    	text-align: center;
	}
	.redes-sociais{
		margin: auto auto 1% auto; 
    	text-align: center;
	}