/***** Top menu *****/
body{
	padding-top: 75px;
}
.navbar {
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 5px;	
	background: #fff;
	border: 0;
	-moz-box-shadow:  0 1px 20px 0 rgba(0, 0, 0, 1);
	-webkit-box-shadow:  0 1px 20px 0 rgba(0, 0, 0, 1);
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 1);
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}
.navbar .container{
	padding-left: 0px;
	margin-left: 0px;
	text-align: center;
	width: auto;
}

.navbar-brand img{
	width: 217px !important;
}

.navbar-brand{
	padding: 0 !important;
}

.navbar-no-bg {
	padding-top: 10px; 
	background: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-no-bg ul.navbar-nav li a.btn-link-3{
	margin: 0 0 3px 15px;
}

ul.navbar-nav {
	font-family: 'actionman', sans-serif;
	font-size: 20px;
	color: #888;
}



ul.navbar-nav li a { background: none; color: #888; border: 0; margin-top: 5px;}
ul.navbar-nav li a:hover { background: none; color: #aaa; border: 0; }
ul.navbar-nav li a:focus { background: none; color: #aaa; outline: 0; border: 0; }

.navbar-no-bg ul.navbar-nav { color: #888; }
.navbar-no-bg ul.navbar-nav li a { color: #888; }
.navbar-no-bg ul.navbar-nav li a:hover { color: #aaa; }
.navbar-no-bg ul.navbar-nav li a:focus { color: #aaa; }

ul.navbar-nav li a.btn-link-3 {
	position: relative;
	display: inline-block;
	margin: 9px 0 3px 15px;
	padding: 6px 15px;
	background: #2470c6;
	border: 0;
	font-family: 'actionman', sans-serif;
	font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}
ul.navbar-nav li a.btn-link-3:hover,
ul.navbar-nav li a.btn-link-3:focus,
ul.navbar-nav li a.btn-link-3:active,
ul.navbar-nav li a.btn-link-3:active:focus { outline: 0; background: #2d8dfa; color: #fff; }

.nav-header>img {
    height: 100%;
    padding: 0px;
    width: 100px;
    margin-left: 0px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0; }

.navbar-toggle .icon-bar { background: #555; }


@media (max-width: 767px) {
	
	.navbar { padding-top: 0; background: #fff; }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { border-color: transparent; }
	ul.navbar-nav li a.btn-link-3 { margin: 10px; }
	
	.navbar-no-bg {
		-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	}
	
	.navbar-no-bg ul.navbar-nav { color: #888; }
	.navbar-no-bg ul.navbar-nav li a { color: #888; }
	.navbar-no-bg ul.navbar-nav li a:hover { color: #aaa; }
	.navbar-no-bg ul.navbar-nav li a:focus { color: #aaa; }
	
	.navbar-no-bg ul.navbar-nav li a.btn-link-3 { color: #fff; }
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:hover,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:focus,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:active,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:active:focus { color: #fff; }
	
	/* end navbar */

}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }


