.pagina-inicial{
background-color: #2dbff7;
}

.pagina-inicial .conteudo{
	background-color:#f8f8f8;
	border-radius:  10px;
	padding: 15px 15px 15px 15px;
}
.pagina-inicial .menus{	
	margin-top:3%;
	margin-bottom: 3%;
	margin-left: 4.4%;
	border-radius:  10px;
}

.pagina-inicial .fb-page{
	padding-bottom: 15px;
}
.pagina-inicial .contato-formulario{
	padding: 10px 10px 10px 10px;
}
.pagina-inicial #wrapper .row{
	margin-right: 0px;
}
.pagina-inicial #wrapper{
		background: #fff;
		margin: 5% auto 5% auto;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
		padding:0px 10px;
		border-radius: 10px;
		padding-bottom: 25px;
	}
.pagina-inicial .slides .item{
	border-radius: 55px;
	overflow: hidden;
}
.pagina-inicial .carousel-inner{
	text-align: center;


}
.pagina-inicial .carousel-inner .carousel-caption{
	margin-bottom: 11%;
	margin-left: 8%;
}
.pagina-inicial .carousel-caption button{
	background-color: #08911e;
	border-color: #08911e;
}
.pagina-inicial .carousel-caption button:hover,button:link,button:active,button:visited{
	background-color: #0bc92a;
	border:none;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.pagina-inicial .carousel-caption a{
	color:#ffffff;	
}
.pagina-inicial .carousel-caption a:hover,a:link,a:active,a:visited{
	text-decoration:none;

}
.pagina-inicial .carousel-inner img {
	margin: auto;
}


.pagina-inicial .carousel-fade .carousel-inner .item {
	opacity: 0;
	transition-property: opacity;
}

.pagina-inicial .carousel-fade .carousel-inner .active {
	opacity: 1;
}

.pagina-inicial .carousel-fade .carousel-inner .active.left,
.pagina-inicial .carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

.pagina-inicial .carousel-fade .carousel-inner .next.left,
.pagina-inicial .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.pagina-inicial .carousel-indicators li{
	background-color: rgba(45, 191, 247, 0.8);
	border-color:  rgba(45, 191, 247, 0.8);

}
.pagina-inicial .carousel-indicators{
	margin-bottom: -1%;
}
.pagina-inicial .carousel-indicators .active{
	background-color: rgba(30, 126, 163, 0.8);
}
.pagina-inicial .titulo{
	text-align: center;
	font-family: "actionman";
	font-size: 30px;
}

.pagina-inicial #map{
	height: 200px;
	width: 90%;
	padding-bottom: 15px;

}

@media(max-width: 768px){
	.pagina-inicial #map{
		height: 300px;
		width: 90%
	}
}

@media(max-width: 425px){
	.pagina-inicial #map{
		height: 300px;
		width: 90%
	}
}