.sobre-inicial .conteudo{
	border-radius:  10px;
	padding: 15px 15px 15px 15px;
	margin-bottom: 5%;
}

.sobre-inicial .conteudo .descricao p{
	text-align: justify;
	font-size: 15px;
	text-indent: 4em;

}

.sobre-inicial .nossa-historia .img-responsive{
	 margin: 0 auto;
	 margin-bottom: 3%;
}

.sobre-inicial .titulo{
	text-align: center;
	font-family: "cookie";
	font-size: 38px;
	margin-top: 5%;
}

.sobre-inicial .titulos .thumbnail{
	border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.sobre-inicial .caption{
	width:100%;
    bottom: 3rem;
    position: absolute;
}

.sobre-inicial .titulos{
	margin-top: 8%;
}
